.one-column {
    width: 100%;
    @extend %clearfix;
    .single-col {
        max-width: 700px;
        margin: 0 auto;
    }
}

.two-column {
    width: 100%;
    @extend %clearfix;
    @media(min-width: $breakpoint-md) {
        @supports (display: flex) {
            display: flex;
            align-items:center;
        }
    }
    &--centered {
        align-items: center;
    }
    .single-col {
        margin: 40px 0 0;
        &:first-child {
            margin: 0;
        }
        @media(min-width: $breakpoint-md) {
            width: 47.5%;
            float: left;
            margin: 0 0 0 5%;
            &:nth-child(2n+1) {
                clear: both;
                margin: 0;
            }
            &:only-child {
                padding-right: 2em;
            }
        }
    }
}


/**
*   Used in tinyMCE as a format for two-col lists withing content
*/

.two-column-list {
    @extend %clearfix;
    li {
        margin: 0 0 20px;
        text-align: left;
        @media(min-width: $breakpoint-md) {
            width: 47.5%;
            float: left;
            margin: 0 0 20px 5%;
            &:nth-child(2n+1) {
                clear: both;
                margin: 0 0 20px;
            }
        }
    }
}









// .wrapper {
//     width:100%;
//     padding-left:$gutter / 2;
//     padding-right:$gutter / 2;
// }
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width:$container-max + $gutter;
    margin-left:auto;
    margin-right:auto;
    &.container--full {
        max-width:none;
        margin-left: -($gutter / 2);
        width: calc(100% + #{$gutter});
    }
    &.container--pull-in {
        max-width:$container-max;
    }
    &.container--full-cols {
        max-width:$container-max;
        .col {
            padding-left: $gutter / 2;
            padding-right: $gutter / 2;
            margin-left: 0;
            margin-right: 0;
            box-sizing: content-box;
            * {
                box-sizing:border-box;
            }
        }
    }
}
.col {
    margin-left: calc(#{$gutter} / 2);
    margin-right: calc(#{$gutter} / 2);
    width:100%;
    &.col--full {
        padding-left: $gutter / 2;
        padding-right: $gutter / 2;
        margin-left: 0;
        margin-right: 0;
        box-sizing: content-box;
        * {
            box-sizing:border-box;
        }
    }
}
////////////////////
//// NO BREAKPOINT
////////////////////
.col-no-1-2 {
    @include layout(0,1,2);
}
////////////////////
//// XS BREAKPOINT
////////////////////
.col-xs-1-1 {
    @include layout($xs,1,1);
}
.col-xs-1-2 {
    @include layout($xs,1,2);
}
.col-xs-1-3 {
    @include layout($xs,1,3);
}
.col-xs-2-3 {
    @include layout($xs,2,3);
}
.align-xs-right {
    @include respond-min($xs) {
        margin-left:auto;
    }
}
// .push-xs-1-2 {
//     @include pushpull($xs,1,2,'push');
// }
// .pull-xs-1-3 {
//     @include pushpull($xs,1,3,'pull');
// }
////////////////////
//// SM BREAKPOINT
////////////////////
.col-sm-1-1 {
    @include layout($sm,1,1);
}
.col-sm-1-2 {
    @include layout($sm,1,2);
}
.col-sm-1-3 {
    @include layout($sm,1,3);
}
.col-sm-2-3 {
    @include layout($sm,2,3);
}
.col-sm-1-4 {
    @include layout($sm,1,4);
}
.col-sm-3-4 {
    @include layout($sm,3,4);
}
.col-sm-1-6 {
    @include layout($sm,1,6);
}
.col-sm-5-6 {
    @include layout($sm,5,6);
}
.align-sm-right {
    @include respond-min($sm) {
        margin-left:auto;
    }
}
// .push-sm-1-2 {
//     @include pushpull($sm,1,2,'push');
// }
// .pull-sm-1-3 {
//     @include pushpull($sm,1,3,'pull');
// }
////////////////////
//// MD BREAKPOINT
////////////////////
.col-md-1-1 {
    @include layout($md,1,1);
}
.col-md-1-2 {
    @include layout($md,1,2);
}
.col-md-1-3 {
    @include layout($md,1,3);
}
.col-md-2-3 {
    @include layout($md,2,3);
}
.col-md-1-4 {
    @include layout($md,1,4);
}
.col-md-3-4 {
    @include layout($md,3,4);
}
.col-md-1-6 {
    @include layout($md,1,6);
}
.col-md-5-6 {
    @include layout($md,5,6);
}
.col-md-1-8 {
    @include layout($md,1,8);
}
.col-md-3-8 {
    @include layout($md,3,8);
}
.col-md-5-8 {
    @include layout($md,5,8);
}
.col-md-7-8 {
    @include layout($md,7,8);
}
.col-md-1-12 {
    @include layout($md,1,12);
}
.col-md-5-12 {
    @include layout($md,5,12);
}
.col-md-7-12 {
    @include layout($md,7,12);
}
.col-md-11-12 {
    @include layout($md,11,12);
}
.align-md-right {
    @include respond-min($md) {
        margin-left:auto;
    }
}
// .push-md-1-2 {
//     @include pushpull($md,1,2,'push');
// }
.push-md-1-12 {
    @include pushpull($md,1,12,'push');
}
// .pull-md-1-3 {
//     @include pushpull($md,1,3,'pull');
// }
////////////////////
//// LG BREAKPOINT
////////////////////
.col-lg-1-1 {
    @include layout($lg,1,1);
}
.col-lg-1-2 {
    @include layout($lg,1,2);
}
.col-lg-1-3 {
    @include layout($lg,1,3);
}
.col-lg-2-3 {
    @include layout($lg,2,3);
}
.col-lg-1-4 {
    @include layout($lg,1,4);
}
.col-lg-3-4 {
    @include layout($lg,3,4);
}
.col-lg-1-6 {
    @include layout($lg,1,6);
}
.col-lg-5-6 {
    @include layout($lg,5,6);
}
.col-lg-1-8 {
    @include layout($lg,1,8);
}
.col-lg-3-8 {
    @include layout($lg,3,8);
}
.col-lg-5-8 {
    @include layout($lg,5,8);
}
.col-lg-7-8 {
    @include layout($lg,7,8);
}
.col-lg-1-12 {
    @include layout($lg,1,12);
}
.col-lg-5-12 {
    @include layout($lg,5,12);
}
.col-lg-7-12 {
    @include layout($lg,7,12);
}
.col-lg-11-12 {
    @include layout($lg,11,12);
}
.align-lg-right {
    @include respond-min($md) {
        margin-left:auto;
    }
}
// .push-lg-1-2 {
//     @include pushpull($lg,1,2,'push');
// }
// .pull-lg-1-3 {
//     @include pushpull($lg,1,3,'pull');
// }
////////////////////
//// XL BREAKPOINT
////////////////////
.col-xl-1-1 {
    @include layout($xl,1,1);
}
.col-xl-1-2 {
    @include layout($xl,1,2);
}
.col-xl-1-3 {
    @include layout($xl,1,3);
}
.col-xl-2-3 {
    @include layout($xl,2,3);
}
.col-xl-1-4 {
    @include layout($xl,1,4);
}
.col-xl-3-4 {
    @include layout($xl,3,4);
}
.col-xl-1-6 {
    @include layout($xl,1,6);
}
.col-xl-5-6 {
    @include layout($xl,5,6);
}
.col-xl-1-8 {
    @include layout($xl,1,8);
}
.col-xl-3-8 {
    @include layout($xl,3,8);
}
.col-xl-5-8 {
    @include layout($xl,5,8);
}
.col-xl-7-8 {
    @include layout($xl,7,8);
}
.col-xl-1-12 {
    @include layout($xl,1,12);
}
.col-xl-5-12 {
    @include layout($xl,5,12);
}
.col-xl-7-12 {
    @include layout($xl,7,12);
}
.col-xl-11-12 {
    @include layout($xl,11,12);
}
.align-xl-right {
    @include respond-min($xl) {
        margin-left:auto;
    }
}
// .push-xl-1-2 {
//     @include pushpull($xl,1,2,'push');
// }
// .pull-xl-1-3 {
//     @include pushpull($xl,1,3,'pull');
// }