body {
    color: $base-color;
    font-family: $base-font-family;
    @include font-size($base-font-size);
    line-height: $base-line-height;
    -webkit-text-size-adjust: none;
    @media(min-width: $breakpoint-sm) {
        @include font-size(20);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    //font-weight: bold;
    font-weight: 400;
    margin: 2em 0 1em;
}

small {
    @include font-size(14);
}

h1,
h2 {
    line-height: 1.1;
}

h3,
h4 {
    line-height: 1.3;
}

h1 {
    @include font-size(42);
}

h2 {
    @include font-size(36);
}

h3 {
    @include font-size(32);
}

h4 {
    @include font-size(24);
}

h5,
h6 {
    @include font-size(20);
}

strong {
    font-weight: bold;
}

.featured-paragraph {
    @include font-size(25);
}